<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SelectCourse.dao.UserDao">

    <!--    用户登录-->
    <select id="userLogin" resultType="com.SelectCourse.pojo.User">
        select *from selectcourse.user where user_number=#{userNumber}
    </select>
    <!--    用户注册-->
    <insert id="userRegister">
        INSERT INTO selectcourse.user(user_name, user_password,user_number,user_type)
        value (#{userName},#{userPassword},#{userNumber},#{userType})
    </insert>


</mapper>